<html>
<head>
    <title>Gutter Heater and Christmas Light Control</title>
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
  <script type="text/javascript">
  window.onload = function () {
    var chart = new CanvasJS.Chart("chartContainer",
    {
        animationEnabled: true,
      title:{
        text: "Temps and Heat On"
      },
        toolTip: {
        shared: "true"
      },
        axisY:{
            title:"Temp",
            valueFormatString:"##.#"

        },
        axisX:{
           valueFormatString:"hh:mm"
        },
        axisY2: {
            title: "Heat On",
            interval: 1,
            minimum:0,
            maximum:1
        },
      data: [
              {
            name: "Heat",
            showInLegend: true,
            legendMarkerType: "square",
            type: "stepArea",
            color: "rgba(255,0,0,.7)",
            markerSize: 0,
            label: "",
            axisYType: "secondary",
            dataPoints: [

        {x: new Date({{ log[log|count-16].split('|')[0] }}),y: parseFloat("{{ log[log|count-16].split('|')[2] }}")},
        {x: new Date({{ log[log|count-15].split('|')[0] }}),y: parseFloat("{{ log[log|count-15].split('|')[2] }}")},
        {x: new Date({{ log[log|count-14].split('|')[0] }}),y: parseFloat("{{ log[log|count-14].split('|')[2] }}")},
        {x: new Date({{ log[log|count-13].split('|')[0] }}),y: parseFloat("{{ log[log|count-13].split('|')[2] }}")},
        {x: new Date({{ log[log|count-12].split('|')[0] }}),y: parseFloat("{{ log[log|count-12].split('|')[2] }}")},
        {x: new Date({{ log[log|count-11].split('|')[0] }}),y: parseFloat("{{ log[log|count-11].split('|')[2] }}")},
        {x: new Date({{ log[log|count-10].split('|')[0] }}),y: parseFloat("{{ log[log|count-10].split('|')[2] }}")},
        {x: new Date({{ log[log|count-9].split('|')[0] }}),y: parseFloat("{{ log[log|count-9].split('|')[2] }}")},
        {x: new Date({{ log[log|count-8].split('|')[0] }}),y: parseFloat("{{ log[log|count-8].split('|')[2] }}")},
        {x: new Date({{ log[log|count-7].split('|')[0] }}),y: parseFloat("{{ log[log|count-7].split('|')[2] }}")},
        {x: new Date({{ log[log|count-6].split('|')[0] }}),y: parseFloat("{{ log[log|count-6].split('|')[2] }}")},
        {x: new Date({{ log[log|count-5].split('|')[0] }}),y: parseFloat("{{ log[log|count-5].split('|')[2] }}")},
        {x: new Date({{ log[log|count-4].split('|')[0] }}),y: parseFloat("{{ log[log|count-4].split('|')[2] }}")},
        {x: new Date({{ log[log|count-3].split('|')[0] }}),y: parseFloat("{{ log[log|count-3].split('|')[2] }}")},
        {x: new Date({{ log[log|count-2].split('|')[0] }}),y: parseFloat("{{ log[log|count-2].split('|')[2] }}")},
        {x: new Date({{ log[log|count-1].split('|')[0] }}),y: parseFloat("{{ log[log|count-1].split('|')[2] }}")}
            ]
        },
      {
        name:"Temp",
          showInLegend: true,
            legendMarkerType: "square",
        xValueType: "dateTime",
        type: "splineArea",
        color: "rgba(54,158,173,0.95)",

        dataPoints: [
        {x: new Date({{ log[log|count-16].split('|')[0] }}),y: parseFloat("{{ log[log|count-16].split('|')[1] }}")},
        {x: new Date({{ log[log|count-15].split('|')[0] }}),y: parseFloat("{{ log[log|count-15].split('|')[1] }}")},
        {x: new Date({{ log[log|count-14].split('|')[0] }}),y: parseFloat("{{ log[log|count-14].split('|')[1] }}")},
        {x: new Date({{ log[log|count-13].split('|')[0] }}),y: parseFloat("{{ log[log|count-13].split('|')[1] }}")},
        {x: new Date({{ log[log|count-12].split('|')[0] }}),y: parseFloat("{{ log[log|count-12].split('|')[1] }}")},
        {x: new Date({{ log[log|count-11].split('|')[0] }}),y: parseFloat("{{ log[log|count-11].split('|')[1] }}")},
        {x: new Date({{ log[log|count-10].split('|')[0] }}),y: parseFloat("{{ log[log|count-10].split('|')[1] }}")},
        {x: new Date({{ log[log|count-9].split('|')[0] }}),y: parseFloat("{{ log[log|count-9].split('|')[1] }}")},
        {x: new Date({{ log[log|count-8].split('|')[0] }}),y: parseFloat("{{ log[log|count-8].split('|')[1] }}")},
        {x: new Date({{ log[log|count-7].split('|')[0] }}),y: parseFloat("{{ log[log|count-7].split('|')[1] }}")},
        {x: new Date({{ log[log|count-6].split('|')[0] }}),y: parseFloat("{{ log[log|count-6].split('|')[1] }}")},
        {x: new Date({{ log[log|count-5].split('|')[0] }}),y: parseFloat("{{ log[log|count-5].split('|')[1] }}")},
        {x: new Date({{ log[log|count-4].split('|')[0] }}),y: parseFloat("{{ log[log|count-4].split('|')[1] }}")},
        {x: new Date({{ log[log|count-3].split('|')[0] }}),y: parseFloat("{{ log[log|count-3].split('|')[1] }}")},
        {x: new Date({{ log[log|count-2].split('|')[0] }}),y: parseFloat("{{ log[log|count-2].split('|')[1] }}")},
        {x: new Date({{ log[log|count-1].split('|')[0] }}),y: parseFloat("{{ log[log|count-1].split('|')[1] }}")}
        ]
      }
      ]
    });

    chart.render();
  }
  </script>
<script type="text/javascript" src="/static/canvasjs.min.js"></script>
    <script src="/static/jquery-2.1.1.min.js"></script>
     <script src="//code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">
     <script>
$(function() {
$( "#start_date" ).datepicker();
});
</script>
</head>
<body>
<div id="chartContainer" style="height: 400px; width: 70%;">
  </div>
{% if lights_on %}
    <div id="lights_on">on</div>
{% else %}
    <div id="lights_off">off</div>
{% endif %}
{% if lights_on_time != 0 %}
    <p>Lights on at: {{ lights_on_time }}</p>
{% endif %}
<p>Lights off at: {{ lights_off_time }}</p>
<p>Starting on: {{ start_date }}</p>
<form action="." method="POST">
    Start date: <input type="text" id="start_date" name="start_date">
    <p>Off time: <input type="time" id="off_time" name="off_time"></p>
    <p><input type="submit" name="my-form" value="Apply" /></p>
</form>
{% if settings_set %}
    {% if light_program_running %}
        <a href="/lightsStop">Stop</a>
    {% else %}
        <a href="/lightsStart">Start</a>
    {% endif %}
{% endif %}
<p></p>
<input type="number" id="man">
{% if lights_on %}
    <a href="/lightsOff">Turn lights off</a>
{% else %}
    <a href="#" onclick="GetURL();" id="manOn">Turn lights on</a>
{% endif %}
</p>
<script>
                function GetURL()
                    {
                        var myAnchor = document.getElementById("manOn");
                        var myTextBox = document.getElementById("man");
                        if (myTextBox.value === "") {
                            myAnchor.href = "/lightsOn/0";
                        } else {
                            myAnchor.href = "/lightsOn/" + myTextBox.value;
                        }
                    }
                </script>
{{ message }}
</body>
</html>